#main-container{
  width: 90%;
  height: 100%;
  padding: 20px;
}

.header{
  width: 100%;
  /* margin: 20px 0px 20px 0px; */
  background-color: whitesmoke;
  font-size: 120%;
  padding: 10px;
  margin-bottom: 10px;
  /* display: flex; */
  /* justify-content: center; */
}

#login-form{
  /* padding: ; */

  /* display: flex; */
  /* justify-content: space-between; */
}

.s-no{
  padding: 0px 10px;
  /* border-right: 1px solid gainsboro; */
  color: gray;
  margin-right: 20px;
}

.player-name{
  display: flex;
}

.url-row{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  /* border-top: 1px solid gainsboro; */
  /* border-left: 1px solid gainsboro; */
  border-bottom: 1px solid gainsboro
}

.url-container{
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.copy-button{
  cursor: pointer;
}
